[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
gibica = {editable = true, path = "."}

[dev-packages]
"flake8" = "*"
tox = "*"
tox-pipenv = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
coveralls = "*"
mypy = "*"
bumpversion = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
black = "*"
gibica = {editable = true, path = "."}

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
